.atualiza-categoria-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.atualiza-categoria-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.atualiza-categoria-container .content section {
    width: 100%;
    max-width: 380px;
}

.atualiza-categoria-container .content section h1 {
    font-size: 32px;
}

.atualiza-categoria-container .content section h2 {
    font-size: 18px;
    margin: 0 0 5px; 
    color: #41414d;
    text-decoration: underline;
}

.atualiza-categoria-container .content section h2 span{
    color: #e02041;
}

.atualiza-categoria-container .content section p {
    margin-top: 100px;  
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.atualiza-categoria-container .content form {
    width: 100%;
    max-width: 450px;
}

.atualiza-categoria-container .content form * {
    margin-top: 8px;
}

.atualiza-categoria-container .content form select {
    font-family: inherit;
    font-size: 125%;
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    background-color: #fff;
}