.cadastro-produto-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.cadastro-produto-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cadastro-produto-container .content section {
    width: 100%;
    max-width: 380px;
    /* background-color: violet; */
}

.cadastro-produto-container .content section h1 {
    /* margin: 64px 0 32px; */
    /* margin: 0 0 50px;  */
    font-size: 32px;
}

.cadastro-produto-container .content section h2 {
    font-size: 18px;
    margin: 0 0 5px; 
    color: #41414d;
    text-decoration: underline;
    /* font-size: 32px; */
}

.cadastro-produto-container .content section h2 span{
    /* margin: 64px 0 32px; */
    color: #e02041;
    /* font-size: 32px; */
}

.cadastro-produto-container .content section p {
    /* margin-top: 190px;   */
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.cadastro-produto-container .content form {
    width: 100%;
    max-width: 450px;
}

.cadastro-produto-container .content form * {
    margin-top: 8px;
}

.cadastro-produto-container .content form label {
    font-size: 18px;
}

.cadastro-produto-container .content form select {
    /* font-family: inherit;
    font-size: 100%;
    width : 100%;
    height: 60px;
    border-radius: 5px;
    background-color: #fff; */
    font-family: inherit;
    font-size: 125%;
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    background-color: #fff;
}